.actions-buttons {
    background-color: #444444 !important;
    color: #f0f0f0 !important;
}
tr.gray{
    background-color: #D8D8D8;
}
/* INPUT TYPE FILE */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.BtnUpload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}