Options -Indexes
Options +FollowSymLinks
RewriteEngine on

#	RoyalWen Routes	#

RewriteRule ^sys/(?:([a-zA-Z<0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)(?:([a-zA-Z0-9\-_.]+/)?)$ core/platform/index.php?pmodule=$1&pcontroller=$2&pname=$3&p1=$4&p2=$5&p3=$6&p4=$7&p5=$8&p6=$9 [L,NC,QSA]

RewriteRule ^(wsv|wsdl)/([a-zA-Z]+)/$ core/platform/index.php?type=$1&module=$2

AddCharset utf-8 .txt .html .htm .php .wsdl